@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@700;900&display=swap');

:root{
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
*{
    padding: 0px;
    margin: 0px;
    font-size: 1em;
}
html, body{
    min-height: 100vh;
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgrey;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    padding-top: 50px;
    font-family: 'Passion One', cursive;
    font-size: 4em;
    font-weight: bold;
    font-variant: small-caps;
}
header p{
    padding-bottom: 50px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
}
section.imagem p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.253);
}
.imagem#img1{
    background-image: url(imagens/background001.jpg);
}

.imagem#img2{
    background-image: url(imagens/background002.jpg);
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}